<!DOCTYPE html>
<html>
    <head>

        <title>Anto's blog</title>

    </head>
    <body>
        <header>Anto's blog</header>
        <h2><a href="/">daje cazzo</a></h2>
        <p>Hi there! <em>what'syour</em> cheeese</p>
        <p><strong>ciaooo <br>stigheiz</strong></p>
        <article>
        <time>pubblicato alle 12</time>
        <p>Aenean eu leo quam. Pellentjuuesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
        
    </body>
  


</html>
